<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>servletCadastrarClientes</servlet-name>
        <servlet-class>br.com.bean.servletCadastrarClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>br.com.bean.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletBuscarDadosUsuarioLogado</servlet-name>
        <servlet-class>br.com.bean.servletBuscarDadosUsuarioLogado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletCadastrarClientes</servlet-name>
        <url-pattern>/CadastroClientesZima</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletBuscarDadosUsuarioLogado</servlet-name>
        <url-pattern>/BuscarDados</url-pattern>
    </servlet-mapping>
</web-app>
