<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>servletCadastrarClientes</servlet-name>
        <servlet-class>br.com.bean.servletCadastrarClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>br.com.bean.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletBuscarDadosUsuarioLogado</servlet-name>
        <servlet-class>br.com.bean.servletBuscarDadosUsuarioLogado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletAlterarDadosCadastrais</servlet-name>
        <servlet-class>br.com.bean.servletAlterarDadosCadastrais</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastraAdm.do</servlet-name>
        <servlet-class>br.com.bean.servletCadastrarAdm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletCadastrarProduto</servlet-name>
        <servlet-class>br.com.bean.servletCadastrarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletFazerPedido</servlet-name>
        <servlet-class>br.com.bean.servletFazerPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlteraProduto</servlet-name>
        <servlet-class>br.com.bean.servletAlterarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletPreencherEnderecoEntrega</servlet-name>
        <servlet-class>br.com.bean.servletPreencherEnderecoEntrega</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletEfetuarPagamento</servlet-name>
        <servlet-class>br.com.bean.servletEfetuarPagamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletBuscarPedidos</servlet-name>
        <servlet-class>br.com.bean.servletBuscarPedidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscaPedidoDetalhado</servlet-name>
        <servlet-class>br.com.bean.buscaPedidoDetalhado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletaProduto</servlet-name>
        <servlet-class>br.com.bean.servletDeletarProduto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletCadastrarClientes</servlet-name>
        <url-pattern>/CadastroClientesZima</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletBuscarDadosUsuarioLogado</servlet-name>
        <url-pattern>/BuscarDados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletAlterarDadosCadastrais</servlet-name>
        <url-pattern>/AlterarDadosCadastrais</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastraAdm.do</servlet-name>
        <url-pattern>/CadastroAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletCadastrarProduto</servlet-name>
        <url-pattern>/CadastrarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletFazerPedido</servlet-name>
        <url-pattern>/FazerPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlteraProduto</servlet-name>
        <url-pattern>/AlteraProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletPreencherEnderecoEntrega</servlet-name>
        <url-pattern>/EnderecoEntrega</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletEfetuarPagamento</servlet-name>
        <url-pattern>/EfetuarPagamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletBuscarPedidos</servlet-name>
        <url-pattern>/BuscarPedidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscaPedidoDetalhado</servlet-name>
        <url-pattern>/buscaPedidoDetalhado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletaProduto</servlet-name>
        <url-pattern>/DeletaProduto</url-pattern>
    </servlet-mapping>
</web-app>
